body{
    background-image: url("images/flat-comics-style-wallpaper_23-2148798289.avif");
    background-size: cover; /* You can use 'cover', 'contain', '100% 100%', etc. */
    background-repeat: no-repeat;
    background-position: center center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

}




